.projects-container {
 background-color: #1e2125;
 width: 100vw;
 height: 100vh;
 position: absolute;
 top: 0;
 left: 0;
 overflow: hidden;

}

#root, body, html {
 height: 100vh !important;
 width: 100vw !important;
 overflow: hidden !important;
}